.divider {
    height: 1px;
    background-color: rgba(0, 0, 0, .15);
}

.text-justify {
    text-align: justify;
}

title{
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Kanit', sans-serif;
}

h1{
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Kanit', sans-serif;
    size: 10px;
    color: #356D83;
}

#photo {
    border-radius: 50%;
}

h2 {
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Kanit', sans-serif;
    size: 10px;
    color: #356D83;
}

h4 {
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Kanit', sans-serif;
    size: 10px;
    color: #356D83;
}